<!DOCTYPE html>
<html>
<head>
	<title>Event Confirmation</title>
</head>
<body>

<h1>itsaGo!</h1>
<h2>Your event has been confirmed.</h>

<h3>Event Information:</h3>
<ul>  
  <li>
    <p>Event: {{eventName}}
  </li>
  <li>
    <p>Date: {{eventDate}}
  </li>
  <li>
    <p>Address: {{eventAddress}}
    <p>{{eventCity}},{{eventState}}{{eventZip}}</p>
  </li>
  <li>
    <p>Cost: {{evenCost}}
  </li>

<!-- Add on:
List the name and phone number of people confirmed for the event.  -->


<p>
Have a great time and thank you for using itsaGO!
</p>
<br>
<p>
Sincerely,
</p>
<br>
<p>The Founders</p>

</body>
</html>
