<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1>Welcome to itsaGO, {{firstname}}!</h1>

<h3>Here's your account information:</h3>
<ul>
  <li>
  	<p>First Name: {{firstname}}</p>
  </li>
  <li>
  	<p>Last Name: {{lastname}}</p>
  </li>
  <li>
  	<p>Email: {{email}}</p>
  </li>
</ul>

<p>
We hope you enjoy using itsaGO for all your event planning needs!
</p>
<br>
<p>
Sincerely,
</p>
<br>
<p>The Founders</p>

</body>
</html>
