html {
    background: url("./img/itsago2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.brand-logo{
    margin-left: 20px;
}

.navList {
    margin-right: 20px;
}
/*ABOUT STYLES*/
.team{
    text-align: center;
    background-color: #ffae19;
    padding: 5px ;
}

.banana {
    font-family: 'Marcellus SC', serif;;
}


/*END OF ABOUT STYLES*/

/*Login Styles*/
.peaches{
font-family: 'Marmelad', sans-serif;

}
/*END OF LOGIN STYLES*/

/*Dashboard*/
#main-row {
    margin-top: 30px;
    padding: 20px;
    background-color: #bdbdbd;
    border: 2px solid #white;
}

 #eventDiv {
    padding: 40px;
   
 }

p.flow-text{
    color: black;
}

.calendar{
    color:black;

}

.a.collection-item{
    bo
}
/*END OF DASHBOARD*/

/*CREATE STYLES*/

.fig p {
    color: black;
}
.fig {
    background-color: #ffa726;
    margin-top: 30px;
    padding: 30px;
    font-family: 'Marmelad', sans-serif;
}

.newton {
    text-align: center;
    background-color:#607d8b  ;
    margin-top: 15px;
    padding: 30px;
    color: black;
    font-family: 'Marmelad', sans-serif;
}

.innernewton {
    background-color: #eeeeee;
    color: black;
    padding: 40px;
    text-align: center;
}

.innernewton h5 {
    color: black;
}
.map {
    padding: 60px;
    font-size: 20px;
    border: 2px solid black;
    font-family: 'Marmelad', sans-serif;
}

/*END OF EVENT STYLES*/


.nav-wrapper {
    font-family: 'Bevan', cursive;
    background-color: #216F46;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(255, 92, 113, 0.96);
}

h5 {
    font-family: 'Fjalla One', sans-serif;
    color: white;
}

.page-footer {
    font-family: 'Bevan', cursive;
    background-color: #216F46;
}

p {
    color: white;
}