html {
    background: url("./img/itsago2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/*ABOUT STYLES*/
.team{
    text-align: center;
    background-color: #ffae19;
    padding: 5px ;
}

.banana {
    font-family: 'Marcellus SC', serif;;
}


/*END OF ABOUT STYLES*/

/*Login Styles*/
.peaches{
font-family: 'Marmelad', sans-serif;

}
/*END OF LOGIN STYLES*/

/*Dashboard*/
#main-row {
    padding: 20px;
    background-color: #dce6ee;
    border: 2px solid #white;
}

 #eventDiv {
    padding: 40px;
   
 }

p.flow-text{
    color: black;
}

.calendar{
    color:black;
}

.a.collection-item{
    bo
}
/*END OF DASHBOARD*/

.nav-wrapper {
    font-family: 'Bevan', cursive;
    background-color: #216F46;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(255, 92, 113, 0.96);
}

h5 {
    font-family: 'Fjalla One', sans-serif;
    color: white;
}

.page-footer {
    font-family: 'Bevan', cursive;
    background-color: #216F46;
}

p {
    color: white;
}