<h1>Hello world!</h1>

<h2>Here's a todo list:</h2>

<ul>
  <li>Initial file structure</li>
  <li>
    Mockups/barebones version of each page:
    <ul>
      <li>splash</li>
      <li>login</li>
      <li>usercreate</li>
      <li>userview</li>
      <li>eventcreate</li>
      <li>eventview</li>
    </ul>
  </li>
  <li>Decide on some database structure</li>
</ul>
