<!-- NAVBAR -->

<div class="mainContainer">
  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
     <a href="/" class="brand-logo">itsaGO</a> 
    <ul class="right hide-on-med-and-down">
      {{!-- <li><a href="login">Login</a></li> --}}
      <li><a href="signout">Log Out</a></li>
      <li><a href="dashboard">Event Dashboard</a></li>
      <li><a href="/">Home</a></li>
    </ul>

  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

  </nav>
  </div>

<!-- END NAVBAR -->


<div class="container">
  <div class="row">
    <div class="col s2"></div>
    <div class="col s8 valign">
	     <h1 class="team">Meet the Team</h1>
    </div>
    <div class="col s2"></div>
  </div>
</div>

<div class="container">
	   <div class="col s12 m8 offset-m2 l6 offset-l3 ">
        <div class="card-panel grey lighten-1 z-depth-3 ">
          <div class="row valign-wrapper ">
            <div class="col s2">
              <img src="images/jacque.png" alt="" class="circle responsive-img z-depth-5"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10 banana">
              <span class="black-text">
                <h4><strong>Jacque White</strong></h4><br> <h5>Front end extrodinare, lover of Stumptown coffee and fit as a fiddle.</h5>
              </span><br><br>
              <a href="https://www.linkedin.com/in/jacquelinewhite15/">Connect with me on LinkedIn</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-1 z-depth-3">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="images/mariana.png" alt="" class="circle responsive-img z-depth-5"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10 banana">
              <span class="black-text">
                <h4><strong>Mariana Perez<strong></h4><br> <h5>A bundle of sunshine and creater of one of a kind designs. </h5>
              </span><br><br>
              <a href="https://www.linkedin.com/in/marianapt3/">Connect with me on LinkedIn</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-1 z-depth-3">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="images/john.png" alt="" class="circle responsive-img z-depth-5"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10 banana">
              <span class="black-text">
                <h4>John Torrence</h4><br> <h5>A gourmet snack connoisseur and true host. There is no backend challenge too big for this fella to tackle. </h5>
              </span><br><br>
              <a href="https://www.linkedin.com/in/torrencj/">Connect with me on LinkedIn</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-1 z-depth-3">
          <div class="row valign-wrapper">
            <div class="col s2 ">
              <img src="images/will.png" alt="" class="circle responsive-img z-depth-5"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10 banana">
              <span class="black-text">
                <h4>Will Valentino</h4><br> <h5>Muse for itsaGO, avid event partaker and lover of all things code. </h5><br><br>
              </span><br>
              <a href="https://www.linkedin.com/in/willvwms/">Connect with me on LinkedIn</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-1 z-depth-3">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="images/jayme.png" alt="" class="circle responsive-img z-depth-5"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10 banana">
              <span class="black-text">
                <h4>Jayme Howard</h4><br> <h5>Part coder, part labador. Active participant in all things front end and aspiring to be more like John on the backend. </h5><br><br>
              </span><a href="https://www.linkedin.com/in/jayme-howard-046b726a/">Connect with me on LinkedIn</a>
            </div>
          </div>
        </div>
      </div>

</div>
	
{{!--   SIDE NAV --}}
  <ul id="slide-out" class="side-nav">
    <li><div class="user-view">
    </div></li>
    <li><a href="signout">Sign Out</a></li>
    <li><a href="dashboard">Event Dashboard</a></li>
    <li><a href="/">Home</a></li>
  </ul>