<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About Us</title>
</head>
<body>
    <!-- NAVBAR -->

<div class="mainContainer">
    <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">itsaGO</a>
        <ul class="right hide-on-med-and-down">
          {{!-- <li><a href="login">Login</a></li> --}}
          <li><a href="signout">Log Out</a></li>
          <li><a href="dashboard">Event Dashboard</a></li>
          <li><a href="about">About</a></li>
          
        </ul>

  {{!--   SIDEBAR --}}
        <ul class="side-nav" id="mobile-demo">
          <li><a href="signout">Log Out</a></li>
          {{!-- <li><a href="login">Login</a></li> --}}
          <li><a href="dashboard">Event Dashboard</a></li>
          <li><a href="about">About</a></li>
          
      </ul>
      </div>
    </nav>
  </div>
<!-- END NAVBAR -->
<div class="col s12 valign">
	<h1>Meet the Team</h1>
</div>
<div class="container">
	   <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="images/jacque.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                <h4>Jacque White</h4><br> Front end extrodinare, lover of Stumptown coffee and fit as a fiddle.
              </span><br><br>
              <a href="https://www.linkedin.com/in/jacquelinewhite15/">Connect with me on LinkedIn</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="images/mariana.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                <h4>Mariana Perez</h4><br> A bundle of sunshine and creater of one of a kind designs. 
              </span><br><br>
              <a href="https://www.linkedin.com/in/marianapt3/">Connect with me on LinkedIn</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="images/john.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                <h4>John Torrence</h4><br> A gourmet snack connoisseur and true host. There is no backend challenge too big for this fella to tackle. 
              </span><br><br>
              <a href="https://www.linkedin.com/in/torrencj/">Connect with me on LinkedIn</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="images/will.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                <h4>Will Valentino</h4><br> Muse for itsaGO, avid event partaker and lover of all things code. <br><br>
              </span><br>
              <a href="https://www.linkedin.com/in/willvwms/">Connect with me on LinkedIn</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="images/jayme.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                <h4>Jayme Howard</h4><br> Part coder, part labador. Active participant in all things front end and aspiring to be more like John on the backend. <br><br>
              </span><a href="https://www.linkedin.com/in/jayme-howard-046b726a/">Connect with me on LinkedIn</a>
            </div>
          </div>
        </div>
      </div>

</div>
	
</body>
</html>