    <!-- NAVBAR -->
<div class="mainContainer">
    <div class="navbar">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">itsaGO</a>
        <ul class="right hide-on-med-and-down navList">
          {{!-- <li><a href="login">Login</a></li> --}}
          <li><a href="signout">Log Out</a></li>
          <li><a href="dashboard">Dashboard</a></li>
          <li><a href="about">About</a></li>
          <li><a href= "https://github.com/marianapt/Project2" target="_blank"></a>GitHub</li>

        </ul>
  {{!--   SIDEBAR --}}
        <ul class="side-nav" id="mobile-demo">
          <li><a href="signout">Log Out</a></li>
          {{!-- <li><a href="login">Login</a></li> --}}
          <li><a href="dashboard">Dashboard</a></li>
          <li><a href="about">About</a></li>

      </ul>
      </div>
    </nav>
  </div>
<!-- END NAVBAR -->
<div class="container">
<div class="row teal lighten-4">
    <div class="col s12 teal accent-4">
        <h2>Inivite a friend:
          <br><h4 id="invalid-email-message"></h4>
        </h2>
    <br>
    <hr>
    </div>
    <div class="col s6 offset-s3">
    <form action="" method="">
      Email:<br>
      <input type="text" id="email-input-string" name="guestEmail">
      <button id="add-email" type="submit">Add</button>
    </form>
        </div>
    <div class="col s2"></div>
</div>
</div>

{{!--   SIDE NAV --}}
  <ul id="slide-out" class="side-nav">
    <li><div class="user-view">
    </div></li>
    <li><a href="signout">Sign Out</a></li>
    <li><a href="dashboard">Event Dashboard</a></li>
    <li><a href="/">Home</a></li>
    <li><a href= "https://github.com/marianapt/Project2" target="_blank"><img src="images/github.png" alt="GitHub" width=40 height=40</a></li>
  </ul>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script type="text/javascript">

  $(document).ready(function(){

    var name;
    var avatar;

    $("#add-email").click(function(event){
      event.preventDefault();
      $("#invalid-email-message").text("");
      var email = $("#email-input-string").val().trim();

      // console.log("Line 55: https://galvanize-cors-proxy.herokuapp.com/https://www.avatarapi.com/js.aspx?email=" + email + "&size=200");

      $.get("https://galvanize-cors-proxy.herokuapp.com/https://www.avatarapi.com/js.aspx?email=" + email + "&size=200", function(data){

          // console.log("Data: " + data);

          $("#email-input-string").val("");

          // console.log("Line 62");

          if (data.includes("// No profile information")) {
            $("#invalid-email-message").text("This email appears invalid -- please try again");
            return;
          } else {
            // console.log(response);
            var response = data;
            response = response.replace("document.write(\"", "")
            response = response.replace("\");", "");
            console.log(response);
            avatar = $(response).find("img").attr("src");
            name = $(response).find("img").attr("title");

            console.log("AvatarURL from Gmail: " + avatar);
            console.log("Name from Gmail: " + name);

            var newParticipant = {
              name: name,
              avatar: avatar,
              email: email,
              stripeToken: null,
              EventId: 1
            };

              // $.ajax({"localhost:8080/api/participant/new",
              // data: newParticipant,
              // dataType: json
              // }).done(function(data) {
              //   console.log(data);
              // });
              $.ajax({
                url: "/api/participant/new",
                method: "POST",
                data: newParticipant
              }).done(function(data) {
                console.log(data);
              });

          } // closes ELSE statement (when user inputs valid email)

      }); // closes AJAX call (get request)
    }); // closes click handler
  }); // closes onready function




</script>
