    <!-- NAVBAR -->

<div class="mainContainer">
    <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">itsaGO</a>
        <ul class="right hide-on-med-and-down">
          {{!-- <li><a href="login">Login</a></li> --}}
          <li><a href="signout">Log Out</a></li>
          <li><a href="dashboard">Dashboard</a></li>
          <li><a href="about">About</a></li>
          
        </ul>

  {{!--   SIDEBAR --}}
        <ul class="side-nav" id="mobile-demo">
          <li><a href="signout">Log Out</a></li>
          {{!-- <li><a href="login">Login</a></li> --}}
          <li><a href="dashboard">Dashboard</a></li>
          <li><a href="about">About</a></li>
          
      </ul>
      </div>
    </nav>
  </div>
<!-- END NAVBAR -->


<div class="container">
<div class="row teal lighten-4">
    <div class="col s12 teal accent-4">
        <h2>Create a new event:</h2>
    <br>
    <hr>
    </div>
    <div class="col s2"></div>
    <div class="col s2">
        <form action="/api/event/new" method="POST">

{{!--             <label for="UserUuid">uuid</label>
            <input type="text" name="UserUuid">
            <br>
 --}}
            <label for="event" placeholder="Folsom Street Festival">Event</label>
            <input type="text" name="event">
            <br>

            <label for="date" placeholder="2018-09-21">Date</label>
            <input id="date" type="date" name="date">
            <br>

            <label for="notes" placeholder="Bring sunscreen!">Notes to participants</label>
            <input type="text" name="notes">
            <br>

            <label for="totalCost" placeholder="600.00">Total Cost</label>
            <input type="text" name="totalCost">
            <br>

            <label for="maxCPP" placeholder="75.00">Max Cost per Person</label>
            <input type="text" name="maxCPP">
            <br>

            <button type="submit" >Submit</button>
        </form>
        </div>
    <div class="col s2"></div>
</div>
</div>