<h2>Create an event:</h2>
<hr>
<form action="/api/event/new" method="POST">
<<<<<<< HEAD

=======
    <label for="UserUuid">uuid</label>
    <input type="text" name="UserUuid">
    <br>
>>>>>>> master
    <label for="eventName">Event Name</label>
    <input type="text" name="eventName">
    <br>
    <label for="eventDate">Event Date</label>
    <input type="text" name="eventDate">
    <br>
    <label for="eventAddress">Event Address</label>
    <input type="text" name="eventAddress">
    <br>
    <label for="eventCity">Event City</label>
    <input type="text" name="eventCity">
    <br>
    <label for="eventState">Event State</label>
    <input type="text" name="eventState">
    <br>
    <label for="eventZip">Event Zip</label>
    <input type="text" name="eventZip">
    <br>
    <label for="eventCost">Cost</label>
    <input type="text" name="eventCost">
    <br>
    <label for="eventMinimum">Minimum # of Attendees</label>
    <input type="text" name="eventMinimum">
    <br>
    <button type="submit" >Submit</button>
</form>
