{{!-- if one person rsvp .... at what point it will be yellow.. if 8 people rsvp green --}}
<div>


<h1> something </h1>








</div>

{{!-- div is like border 

each one you have a class that will be in create.css classes or ids should be different  --}}




