<!-- NAVBAR -->

<div class="mainContainer">
  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
     <a href="/" class="brand-logo">itsaGO</a> 
    <ul class="right hide-on-med-and-down">
      {{!-- <li><a href="login">Login</a></li> --}}
      <li><a href="signout">Log Out</a></li>
      <li><a href="dashboard">Event Dashboard</a></li>
      <li><a href="about">About</a></li>
    </ul>

  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

  </nav>
  </div>

<!-- END NAVBAR -->


<div class="container">
<div class="row teal lighten-4">
    <div class="col s12 teal accent-4">
        <h2>Create an event:</h2>
    <br>
    <hr>
    </div>
    <div class="col s2"></div>
    <div class="col s2">
        <form action="/api/event/new" method="POST">

            <label for="UserUuid">uuid</label>
            <input type="text" name="UserUuid">
            <br>

            <label for="eventName">Event Name</label>
            <input type="text" name="eventName">
            <br>
            <label for="eventDate">Event Date</label>
            <input type="text" name="eventDate">
            <br>
            <label for="eventAddress">Event Address</label>
            <input type="text" name="eventAddress">
            <br>
            <label for="eventCity">Event City</label>
            <input type="text" name="eventCity">
            <br>
            <label for="eventState">Event State</label>
            <input type="text" name="eventState">
            <br>
            <label for="eventZip">Event Zip</label>
            <input type="text" name="eventZip">
            <br>
            <label for="eventCost">Cost</label>
            <input type="text" name="eventCost">
            <br>
            <label for="eventMinimum">Minimum # of Attendees</label>
            <input type="text" name="eventMinimum">
            <br>
            <button type="submit" >Submit</button>
        </form>
        </div>
    <div class="col s2"></div>
</div>
</div>

{{!--   SIDE NAV --}}
  <ul id="slide-out" class="side-nav">
    <li><div class="user-view">
    </div></li>
    <li><a href="signout">Sign Out</a></li>
    <li><a href="dashboard">Event Dashboard</a></li>
    <li><a href="about">About</a></li>
  </ul>