<!-- NAVBAR -->

<div class="mainContainer">
  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
    <a href="/" class="brand-logo">itsaGO</a>
    <ul class="right hide-on-med-and-down">
      {{!-- <li><a href="login">Login</a></li> --}}
      <li><a href="signout">Log Out</a></li>
      {{!-- <li><a href="dashboard">Event Dashboard</a></li> --}}
      <li><a href="about">About</a></li>
    </ul>

  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

  </nav>
  </div>

<!-- END NAVBAR -->

<div class="container"> <!-- main container -->
<div class="row" id="main-row">

      <div class="col s6 black-text center-align"><!-- Profile picture / user info -->
        <h4>Hi {{this.firstname}}</h4>
        <script src="https://www.avatarapi.com/js.aspx?email={{this.email}}&size=200">
        </script>

        <div class="section">
          <ul>
           {{!--  <li>
              <p class="flow-text">Email: {{this.email}} </p>
            </li> --}}
            <li>
              <p class="flow-text">Events Planned: </p>
            </li>          
          </ul>
        </div><!-- end section -->

    <div class="col s6">
      <h5 class="calendar">Upcoming Events<span id= "calendar"></span></h5>
      <div class="collection">
        <a href="#" class="collection-item">event 1</a>
        <a href="#" class="collection-item">event 2</a>
        <a href="#" class="collection-item">event 3</a>
        <a href="#" class="collection-item">event 4</a>
      </div>
    </div>
    <br>
    <br>



  </div>  <!-- END OF ROW -->
   <br>
    <br>

  <div class="col s12 center-align" id="eventDiv">
     <hr>
     <br>
     <br>
    <a href="event" class="waves-effect waves-light btn ">Create Event</a>
  </div>



{{!--   SIDE NAV --}}
  <ul id="slide-out" class="side-nav">
    <li><div class="user-view">
    </div></li>
    <li><a href="signout">Home</a></li>
    <li><a href="about">About</a></li>
  </ul>
