
{{!-- <div class="containerdash"> --}} <!-- main container -->



  <!-- NAVBAR -->

<div class="mainContainer">

    <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">itsaGO</a>
        <ul class="right hide-on-med-and-down">
          {{!-- <li><a href="login">Login</a></li> --}}
          <li><a href="signout">Log Out</a></li>
          {{!-- <li><a href="dashboard">Event Dashboard</a></li> --}}
          <li><a href="about">About</a></li>
          
        </ul>

  {{!--   SIDEBAR --}}
        <ul class="side-nav" id="mobile-demo">
          <li><a href="signout">Log Out</a></li>
          {{!-- <li><a href="login">Login</a></li> --}}
          {{!-- <li><a href="dashboard">Event Dashboard</a></li> --}}
          <li><a href="about">About</a></li>
          
      </ul>
      </div>
    </nav>
  </div>
<!-- END NAVBAR -->

<div class="container"> <!-- main container -->
<div class="row" id="main-row">

      <div class="col s6 black-text center-align"><!-- Profile picture / user info -->
        <h4>Hi {{this.firstname}}</h4>
        <script src="https://www.avatarapi.com/js.aspx?email={{this.email}}&size=200">
        </script>

        <div class="section">
          <ul>
           {{!--  <li>
              <p class="flow-text">Email: {{this.email}} </p>
            </li> --}}
            <li>
              <p class="flow-text">Events Planned: </p>
            </li>          
          </ul>
        </div><!-- end section -->

    <div class="col s6">
      <h5>Upcoming Events<span id= "calendar"></span></h5>
      <div class="collection">
        <a href="#" class="collection-item">event 1</a>
        <a href="#" class="collection-item">event 2</a>
        <a href="#" class="collection-item">event 3</a>
        <a href="#" class="collection-item">event 4</a>
      </div>
    </div>
    <br>
    <br>



  </div>  <!-- END OF ROW -->
   <br>
    <br>

  <div class="col s12 center-align" id="eventDiv">
     <hr>
     <br>
     <br>
    <a href="event" class="waves-effect waves-light btn ">Create Event</a>
  </div>

</div> <!-- end main container -->

{{!-- <footer class="page-footer">
  <div class="container">
  © 2017 itsaGO, All rights reserved.
  <a class="grey-text text-lighten-4 right" href="https://github.com/marianapt/Project2"></a>
  </div>
</footer> --}}
