<div class="container"> <!-- main container -->
  
  <div class="row" id="main-row">

      <div class="col s6"><!-- Profile picture / user info -->
          
        <h5>Hi {{this.firstname}}</h5>
        <script src="https://www.avatarapi.com/js.aspx?email={{this.email}}&size=200">
        </script>

        <div class="section">
          <ul>
            <li>
              <p class="flow-text">Email: {{this.email}} </p>
            </li>
            <li>
              <p class="flow-text">Events Planned: </p>
            </li>          
          </ul>
        </div><!-- end section -->

    <div class="col s6">
      <h5>Calendar<span id= "calendar"></span></h5>
      <div class="collection">
        <a href="#" class="collection-item">event 1</a>
        <a href="#" class="collection-item">event 2</a>
        <a href="#" class="collection-item">event 3</a>
        <a href="#" class="collection-item">event 4</a>
      </div>
    </div>

  </div>  <!-- END OF ROW -->

</div> <!-- end main container -->