<div class="container"> <!-- main container -->
  
<h5>Event Name: {{this.eventname}}</h5>
<p class="">Address: {{this.address}} </p>
<p class="">Date: {{this.date}}</p>
<p class="">Details: {{this.details}}</p>

<form>
  Guest Name:<br>
  <input type="text" name="guestName"><br>
  Guest Email:<br>
  <input type="text" name="guestEmail">
  <button type="submit">Send Emails</button>
</form>

<form>
  Guest Name:<br>
  <input type="text" name="guestName"><br>
  Guest Email:<br>
  <input type="text" name="guestEmail">
  <button type="submit">Send Emails</button>
</form>

<form>
  Emails of Guests:<br>
  <input type="text" name="firstname"><br>
  <button type="submit">Send Emails</button>
</form>

<h5 id="upcoming">Map: </span></h5>
<img src="placehold.it/200x200" alt="googlemap">
<p class="flow-text">What: </p>
<p class="flow-text">When: </p>

</div>