

  <!-- NAVBAR -->

<div class="mainContainer">
    <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">itsaGO</a>
        <ul class="right hide-on-med-and-down">
          {{!-- <li><a href="login">Login</a></li> --}}
          <li><a href="loginOut">Log Out</a></li>
          <li><a href="dashboard">Event Dashboard</a></li>
          <li><a href="about">About</a></li>
          
        </ul>

  {{!--   SIDEBAR --}}
        <ul class="side-nav" id="mobile-demo">
          <li><a href="loginOut">Log Out</a></li>
          {{!-- <li><a href="login">Login</a></li> --}}
          <li><a href="dashboard">Event Dashboard</a></li>
          <li><a href="about">About</a></li>
          
      </ul>
      </div>
    </nav>
  </div>
<!-- END NAVBAR -->
<div class="container"> <!-- main container -->
  
<h5>Event Name: {{this.eventname}}</h5>
<p class="">Address: {{this.address}} </p>
<p class="">Date: {{this.date}}</p>
<p class="">Details: {{this.details}}</p>

<form>
  Guest Name:<br>
  <input type="text" name="guestName"><br>
  Guest Email:<br>
  <input type="text" name="guestEmail">
  <button type="submit">Send Email</button>
</form>

<form>
  Emails of Guests (comma separated emails) :<br>
  <input type="text" name="firstname"><br>
  <button type="submit">Send Emails</button>
</form>

<h5 id="upcoming">Map: </span></h5>
<img src="placehold.it/200x200" alt="googlemap">
<p class="flow-text">Click the map to get directions!</p>

</div>