
<h1>Hello world!</h1>

<h2>Here's a todo list:</h2>

<ul>
  <strike><li>Initial file structure</li></strike>
  <li>
    Mockups/barebones version of each page:
    <ul>
      <li>splash</li>
      <li>login</li>
      <li>usercreate</li>
      <li>userview</li>
      <li>eventcreate</li>
      <li>eventview</li>
    </ul>
  </li>
  <strike><li>Decide on some database structure</li></strike>
</ul>

<!-- Create event placeholder -->
<h2>Create an event:</h2>
<hr>
<form action="/api/event/new" method="POST">
    <label for="userId">User ID</label>
    <input type="text" name="UserUuid">
    <br>
    <label for="eventName">Event Name</label>
    <input type="text" name="eventName">
    <br>
    <label for="eventAddress">Event Address</label>
    <input type="text" name="eventAddress">
    <br>
    <label for="eventCity">Event City</label>
    <input type="text" name="eventCity">
    <br>
    <label for="eventState">Event State</label>
    <input type="text" name="eventState">
    <br>
    <label for="eventZip">Event Zip</label>
    <input type="text" name="eventZip">
    <br>
    <label for="eventCost">Cost</label>
    <input type="text" name="eventCost">
    <br>
    <button type="submit">Submit</button>
</form>

<!-- Create user placeholder -->
<h2>Create a user:</h2>
<hr>
<form class="" action="/api/user/new" method="post">
  <label for="firstname"> First Name:</label>
  <input type="text" name="firstname">
  <br>
  <label for="lastname"> Last Name:</label>
  <input type="text" name="lastname">
  <br>
  <label for="email"> Email:</label>
  <input type="text" name="email">
  <br>
  <label for="pass"> Password:</label>
  <input type="password" name="password">
  <button type="submit" name="button">Submit</button>
</form>

<!-- Login demo -->
<h2>User login:</h2>
<hr>
<form class="" action="/api/user/login" method="post">
  <label for="email"> Email:</label>
  <input type="text" name="email">
  <br>
  <label for="pass"> Password:</label>
  <input type="password" name="password">
  <button type="submit" name="button">Submit</button>
</form>
