<!-- Login demo -->
<h2>User login:</h2>
<hr>
<form class="" action="/api/user/login" method="post">
  <label for="email"> Email:</label>
  <input type="text" name="email">
  <br>
  <label for="pass"> Password:</label>
  <input type="password" name="password">
  <button type="submit" name="button">Submit</button>
</form>