<!-- NAVBAR -->

<div class="mainContainer">
  <div class="navbar">
  <nav>
    <div class="nav-wrapper">
    <a href="/" class="brand-logo">itsaGO</a>
    <ul class="right hide-on-med-and-down navList">
      {{!-- <li><a href="login">Login</a></li> --}}
      <li><a href="signout">Home</a></li>
      {{!-- <li><a href="dashboard">Event Dashboard</a></li> --}}
      <li><a href="about">About</a></li>
      <li><a href= "https://github.com/marianapt/Project2" target="_blank"></a>GitHub</li>
    </ul>

  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

  </nav>
  </div>
<!-- END NAVBAR -->

<!-- Login -->
<br>
<div class="container">
  <div class="row center">
    <div class="col s6 offset-s3 teal lighten-5 black-text peaches">
      <h2>User login:</h2>
      <form class="" action="/api/user/login" method="post">
        <label for="email">Email:</label>
        <input type="text" name="email">
        <br>
        <label for="pass">Password:</label>
        <input type="password" name="password">
        
        <button type="submit" name="button" class="waves-effect waves-light btn-light orange">Submit</button>
      </form>
      <br>
      <p class="black-text">Not a user? <a href="/signup">Signup.</a></p>
    </div>
  </div>
</div>


{{!--   SIDE NAV --}}
  <ul id="slide-out" class="side-nav">
    <li><div class="user-view">
    </div></li>
    <li><a href="signout">Home</a></li>
    <li><a href="about">About</a></li>
    <li><a href= "https://github.com/marianapt/Project2" target="_blank"><img src="images/github.png" alt="GitHub" width=40 height=40</a></li>
  </ul>
