

<!-- Create user placeholder -->

<div class="container">
<div class="row">
<div class="col s12">
    <div class="container cyan lighten-5">
    <div class="row">
        <div class="col offset-10 s12 center-align"><h3>Create a user:</h3>
        </div>
        <div class="col offset-10 s12">
        <hr>
        <form class="" action="/api/user/new" method="post">
          <label for="firstname"> First Name:</label>
          <input type="text" name="firstname">
          <br>
          <label for="lastname"> Last Name:</label>
          <input type="text" name="lastname">
          <br>
          <label for="email"> Email:</label>
          <input type="text" name="email">
          <br>
          <label for="pass"> Password:</label>
          <input type="password" name="password">

          <div class="col offset-10 s12 center-align">
          <button type="submit" name="button">Submit</button>
          </div>
        </form>
        </div>
    </div>
    </div>
</div>
</div>