<!-- Create user placeholder -->
<h2>Create a user:</h2>
<hr>
<form class="" action="/api/user/new" method="post">
  <label for="firstname"> First Name:</label>
  <input type="text" name="firstname">
  <br>
  <label for="lastname"> Last Name:</label>
  <input type="text" name="lastname">
  <br>
  <label for="email"> Email:</label>
  <input type="text" name="email">
  <br>
  <label for="pass"> Password:</label>
  <input type="password" name="password">
  <button type="submit" name="button">Submit</button>
</form>