    <!-- NAVBAR -->

<div class="mainContainer">
    <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">itsaGO</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="login">Login</a></li>
          {{!-- <li><a href="loginOut">Log Out</a></li>
          <li><a href="dashboard">Event Dashboard</a></li> --}}
          <li><a href="about">About</a></li>
          
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="login">Login</a></li>
          {{!-- <li><a href="dashboard">Event Dashboard</a></li> --}}
          <li><a href="about">About</a></li>
          
      </ul>
      </div>
    </nav>
  </div>
<!-- END NAVBAR -->


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">itsaGO</h1>
      <div class="row center">
        <h5 class="header col s12 light">The Ultimate Event Planner</h5>
      </div>
      <div class="row center">
        <a href="/signup" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>
    </div>
    <br><br>

  </div>

<<<<<<< HEAD
  <div class="container">
    <div class="section">
      <img src="https://maps.googleapis.com/maps/api/staticmap?center=30.286853,-97.727528&zoom=13&size=600x300&maptype=roadmap
      &markers=color:red%7Clabel:C%7C30.286853,-97.727528
      &key=AIzaSyBM-iyIs5FsmTMNvYcuG16joX-dZnfmwec" alt="">
      
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Red Light</h5>
=======

>>>>>>> master

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <img src="./css/img/redlight.jpg" alt="" style="width:120px; height:130px; opacity:0.8;  float: right;
    margin: 0" class="circle responsive-img">
          <h5 class="center">Red Light</h5>

          <p class="light"> 
           The first step. Add your guest and event details and send the invites!</p>
        </div>
      </div>
  <div class="col s12 m4">
        <div class="icon-block">
          <img src="./css/img/yellowlight.jpeg" alt="" style="width:120px; height:130px; opacity:0.8;  float: right;
    margin: 0" class="circle responsive-img">
          <h5 class="center">Yellow Light</h5>

          <p class="light"> 
       The waiting phase. Have guests RSVP to make it a go!</p>
        </div>
      </div>
        <div class="col s12 m4">
        <div class="icon-block">
          <img src="./css/img/greenlight.jpg" alt="" style="width:120px; height:130px; opacity:0.8;  float: right;
    margin: 0" class="circle responsive-img">
          <h5 class="center">Green Light</h5>

          <p class="light"> 
           Its a Go! You're all set. Let the good times roll.</p>
        </div>
      </div>
      
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>