<!-- TODO override this method to be PUT. -->
<form action="/api/user/savecc?__method=PUT" method="POST">
<script
  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="pk_test_MfMLV8cfYDwI9mWNH5qi0tya"
  data-amount="2000"
  data-name="Demo Site"
  data-description="2 widgets"
  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
  data-locale="auto">
</script>
</form>
